@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("./fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("./fonts/OpenSans-Bold.woff") format("woff");
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

.main-page {
    background: url("img/top-backgr.png") center top no-repeat, url("img/bottom-backgr.png") center bottom 145px no-repeat;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    height: 120px;
    position: relative;
    margin-bottom: 89px;
}

.logotype {
    display: block;
    position: absolute;
    top: 32px;
    left: 0;
}

.menu {
    position: absolute;
    top: 38px;
    left: 419px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 63px;
}

.menu__item:last-child {
    margin-right: 0;
}

.menu__link {
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    
}

.menu__link:hover {
    color: #8F00FF;
}

.contacts {
    position: absolute;
    top: 26px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.phone__number {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 10px;
}

.work-schedule {
    position: relative;
    color: #98A4A8;
    font-size: 13px;
    text-decoration: underline;
    top: -7px;
    right: 1px;
}

.work-schedule:hover {
    color: #FFFFFF;
}

.promo {
    margin-bottom: 192px;
}

.promo__content {
    width: 645px;
}

.promo__title {
    font-size: 60px;
    line-height: 1.07;
    margin-bottom: 21px;
}

.promo__text {
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 76px;
}

.base-button {
    display: inline-block;
    background: #8F00FF;
    line-height: 16px;
    border-radius: 4px;
    border: 0;
    padding: 18px 39px;
    color:#FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid transparent;
}


.base-button--light-purple:hover {
    background: #741BBA;
}

.base-button--theme-white {
    background: #FFFFFF;
    border-color: #8F00FF;
    padding: 18px 29px;
    color: #8F00FF;
}

.base-button--theme-white:hover {
    background: #8F00FF;
    color: #FFFFFF;
}

.base-button--white {
    border-radius: 4px;
    background: none;
    border-color: #FFFFFF;
    padding: 18px 39px;
    color: #FFFFFF;
}

.new-products {
    margin-bottom: 127px;
}

.new-products__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 51px;
    display: inline-block;
    vertical-align: middle;
}

.new-products__title-img {
    margin-left: 3px;
    display: inline-block;
    vertical-align: middle;
}

.new-products__item {
    min-height: 449px;
    background: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
    display: inline-block;
    margin-right: 25px;
    width: 360px;
}

.new-products__item:last-child {
    margin-right: 0;
}

.new-products__cover-box {
    background: #010101;
    height: 144px;
    width: 100%;
}

.new-products__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cover-box-purple {
    background: #150a18;
}

.new-products__img-half {
    margin-left: 24px;
}

.new-products__content {
    padding: 36px 22px 26px 21px;
    color: #000000;
}

.new-products__item-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    margin-bottom: 21px;
}

.new-products__features {
    margin-bottom: 24px;
    padding-left: 6px;
}

.new-products__feature {
    display: inline-block;
    vertical-align: top;
    margin-right: 52px;
}

.new-products__feature:last-child {
    margin-right: 0;
}

.feature__icon-box {
    width: 26px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
}

.feature__icon {
    display: block;
}

.feature__text {
    font-size: 16px;
    color: #666666;
    display: inline-block;
    vertical-align: middle;
}

.new-products__text {
    line-height: 21px;
    margin-bottom: 25px;
}

.past-games {
    margin-bottom: 143px;
}

.past-games__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 54px;
    line-height: 42px;
}

.past-games__list {
    margin-bottom: 52px;
}

.past-games__item {
    width: 557px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-right: 21px;
}

.past-games__item:last-child {
    margin-right: 0;
}

.past-games__cover {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.past-games__card {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 27px 8px;
    min-height: 142px;
}

.past-games__date {
    margin-bottom: 13px;
    line-height: 21px;
}

.past-games__item-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-bottom: 5px;
}

.past-games__text {
    font-size: 16px;
    line-height: 21px;
}

.pages {
    text-align: center;
}

.pages__info,.pages__list {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.pages__info {
    margin-right: 21px;
}

.pages__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: -2px;
}

.pages__link {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-weight: bold;
    text-decoration: none;
    line-height: 32px;
}

.pages__link:hover {
    background: #8F00FF;
}

.about-us__container::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 489px;
    height: 505px;
    background: url("./img/about-us-game-photo.jpg") center center / cover no-repeat;
    border-radius: 4px;
}

.about-us__content {
    background: url("./img/about-us-background.jpg") center center / cover no-repeat;
    padding: 70px 202px 70px 81px;
    display: inline-block;
    vertical-align: top;
    width: 785px;
    min-height: 455px;
    margin-left: -141px;
    margin-top: 99px;
    border-radius: 4px;
    margin-bottom: 53px;
}

.about-us__title {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 38px;
}

.about-us__text {
    margin-bottom: 39px;
    font-size: 16px;
    line-height: 27px;
}

.about-us__text p {
    margin-bottom: 20px;
}

.about-us__text p:last-child {
    margin-bottom: 0;
}

.footer__content {
    border-top: 1px solid #353538;
}

.footer {
    height: 146px;
    position: relative;
}

.footer__logotype {
    display: block;
    position: absolute;
    top: 52px;
    left: 0;
}

.footer__menu {
    position: absolute;
    top: 57px;
    right: 553px;
    left: initial;
}

.socials {
    top: 50px;
    right: 268px;
    position: absolute;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item-icon-tg .socials__link {
    background-image: url("/img/telegram.svg");
}

.socials__item-icon-tg .socials__link:hover {
    background-image: url("/img/telegram-hover.svg");
}

.socials__item-icon-vk .socials__link {
    background-image: url("/img/vk.svg");
}

.socials__item-icon-vk .socials__link:hover {
    background-image: url("/img/vk-hover.svg");
}

.socials__item-icon-fb .socials__link {
    background-image: url("/img/facebook.svg");
}

.socials__item-icon-fb .socials__link:hover {
    background-image: url("/img/facebook-hover.svg");
}

.socials__item-icon-insta .socials__link {
    background-image: url("/img/instagram.svg");
}

.socials__item-icon-insta .socials__link:hover {
    background-image: url("/img/instagram-hover.svg");
}

.footer__contacts {
    position: absolute;
    top: 46px;
    right: 0;
    font-style: normal;
    text-align: right;
}

.contacts__info {
    font-size: 11px;
    color: #9a9a9a;
    margin-bottom: 3px;
}
