html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Open Sans", Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.42;
    background: #17191C;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

a {
    color: inherit;
}

.main-page {
    background: url("../../img/top-backgr.png") center top no-repeat, url("../../img/bottom-backgr.png") center bottom 145px no-repeat;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

* {
    box-sizing: border-box;
}