.socials {
    display: flex;
    align-items: center;
    margin-right: 74px;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}

.socials__item-icon-tg .socials__link {
    background-image: url("../../img/telegram.svg");
}

.socials__item-icon-tg .socials__link:hover {
    background-image: url("../../img/telegram-hover.svg");
}

.socials__item-icon-vk .socials__link {
    background-image: url("../../img/vk.svg");
}

.socials__item-icon-vk .socials__link:hover {
    background-image: url("../../img/vk-hover.svg");
}

.socials__item-icon-fb .socials__link {
    background-image: url("../../img/facebook.svg");
}

.socials__item-icon-fb .socials__link:hover {
    background-image: url("../../img/facebook-hover.svg");
}

.socials__item-icon-insta .socials__link {
    background-image: url("../../img/instagram.svg");
}

.socials__item-icon-insta .socials__link:hover {
    background-image: url("../../img/instagram-hover.svg");
}
